<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Alterar Analise</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> 
                    <link th:href="@{/css/}+${css}+'.css'" rel="stylesheet" type="text/css"/>
                    </head>
                    <div class="container">
                        <body>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h1>Alterar Analises</h1>

                                    <form th:action="@{/alterar-fotovoltaico}" th:object="${fotovoltaicos}" method="post">
                                        <div>
                                            <input type="hidden" th:field="${cliente.id}">
                                            <p>Fabricante: <input type="text" th:field="${fotovoltaicos.fabricante}"/></p>
                                            <p>Quantidade de Placas: <input type="text" th:field="${fotovoltaicos.qtdPlacas}"/></p>
                                            <p>Potência Placas: <input type="text" th:field="${fotovoltaicos.potPlacas}"/></p>
                                            <p>Potência Gerador: <input type="text" th:field="${fotovoltaicos.potGerador}"/></p>
                                            <p>Potência Inversor: <input type="text" th:field="${fotovoltaicos.potInversor}"/></p>
                                            <p>Tipo de Telhado: <input type="text" th:field="${fotovoltaicos.tipoTelhado}"/></p>
                                            <p>Concessionária: <input type="text" th:field="${fotovoltaicos.concessionaria}"/></p>
                                        </div>
                                        <button type="submit" class="btn btn-info">Alterar</button>
                                    </form>
                                    <div class="row">
                                        <div class="col-sm-8 mt-2">
                                            <a th:href="@{/index}"><button type="button" class="btn btn-info">Inicio</button></a>
                                            <a th:href="@{/lista}"><button type="button" class="btn btn-info">Voltar</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </body>
                    </div>

</html>
